html, body{
	position: relative !important;
}

.border-none{
	border:none !important;
}

.ui, div.step{
	border-radius: 0 !important
}

.pointer{
	cursor: pointer !important;
}

.display-none{
	display: none;
}

.switch-labeled{
	background: #ECECEC !important;
	padding-top: 8px !important;
	padding-left: 6px !important;
}

.pointer{
	cursor: pointer;
}

.font-bold{
	font-weight: bold;
}

.font-bold > *{
	font-weight: bold;
}

.font-italic > *{
	font-style: italic;
}