{% extends 'index.twig' %}

{% block nav %}
    <div class="ui container">
        {% include "navs/public.twig" %}
    </div>
{% endblock %}

{% block content %}
    <div class="ui container">
        <span class="ui big centered text">Home</span>
    </div>
{% endblock %}
